apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hpa-nginx
  namespace: test
spec:
  scaleTargetRef:                 # 指定要控制的deploy信息
    apiVersion: apps/v1           # deploy版本
    kind: Deployment              # deploy类型
    name: nginx                   # deploy名称
  minReplicas: 1                  # 最小保留的pod数量
  maxReplicas: 10                 # 最大扩容的pod数量
  metrics:                        # 定义指标，HPA根据这边指标决定是否需要增加或减少Pod
  - type: Resource                # 指标类型是资源
    resource:                     # 具体指标类型
      name: cpu                   # 类型CPU
      target:                     # 定义了目标指标
        type: Utilization         # 目标类型为利用率
        averageUtilization: 50    # 当pod的平均CPU使用率超过50%时（参考limits定义）
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: test
spec:
  replicas: 1
  selector:
    matchLabels:
      web: nginx
  template:
    metadata:
      labels:
        web: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.27.0
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        imagePullPolicy: ifNotPresent   # 镜像拉取策略
        resources:
          limits:
            cpu: "100m"
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
~                                                                                                                                                                                                                                            
"deploy-nginx.yml" 22L, 370B                                                                                                                                                                                               18,10         All